
#header {
    background-color:hsl(271, 76%, 53%);
    color:white;
    text-align:center;
    padding:10px;
}
#nav {
    background-color: lightblue;
   
}
a{
    text-decoration: none;
    color: azure;
    font-family: cursive;
    font-weight: bold;
    font-size: x-large;
    list-style: none;
    transition: all 0.3s ease;
}
a:hover{
    color: blueviolet;
}
li{
    display: inline-block; 
    padding: 10px; 
}
#section {
    text-align: center;
    font-size: xx-large;
    color: hsl(271, 76%, 53%);
    float: none;
    padding-top: 300px;
    padding-bottom: 300px;
    background-image: url(images/backgfround3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
#footer {
    background-color:hsl(271, 76%, 53%);
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

#ziwangye1{
    background-color: aquamarine;
}
#biaoti{
    text-align: center;
    color: azure;
    font-family: fantasy;
    font-size: xx-large;
}
.introduction{
    color: azure;
}
#duanluo{
    font-size: larger;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    text-indent: 2em;
    border: 2px blueviolet solid;
    border-radius: 10px;
    padding-left: 20px;
    padding-right:20px;
}
#footer1{
    padding: 5px;
    background-color: hsl(271, 76%, 53%);
    text-align: center;
    color: white;
    clear: both;
    margin-top: 75px;
}

#dbiaoti{
    padding: 7px;
    background-color: hsl(271, 76%, 53%);
    text-align: center;
    color: azure;
}
.xbiaoti2{
    text-align: center;
    color:blueviolet;
    font-size: large;
}
.duanluo2{
    border: 2px;
    border-radius: 5px;
    border-color: blueviolet;
    border-style: dotted;
    line-height: 2em;
    padding-left: 10px;
    padding-right:10px;
    text-align: justify;
}
#footer2{
    padding: 5px;
    background-color: hsl(271, 76%, 53%);
    text-align: center;
    color: white;
    clear: both;
}

    

#biaoti3{
    color: azure;
    padding: 7px;
    text-align: center;
    background-color: hsl(271, 76%, 53%);
}
#beijing{
    background-color:aquamarine;
    padding-bottom: 2px;
}
#xbiaoti3{
    text-align: center;
    text-shadow: 2px;
    color:floralwhite;
    font-size: xx-large;
    font-weight: 800;
    padding-top: 2px;
}
.wenzi{
    color: floralwhite;
    font-weight: 600;
}
#duan1{
    text-align: center;
    font-size: larger;
    line-height: 2em;
}
#duan2{
    text-align: center;
    font-size: larger;
    line-height: 2em;
}
#footer3{
    padding: 5px;
    background-color: hsl(271, 76%, 53%);
    text-align: center;
    color: white;
    clear: both;
}
